
<div class="container-fluid mt-2 p-mr-2">
    <div class="search">
    <div class="row justify-content-md-center">
 
      </div>
      <div class="row">
 
        <div class="col-md-auto">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
 
      </div>
    </div>

<br>
<div class="table-responsive">
        <table class="table table-striped ">
            <thead class="table-primary">
              <tr>
                <th>Distributor Name</th>
                <th>Address</th>
                <th>Postal Code</th>
                <th>Contact Person</th>
                <th>Designation</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ABC</td>
                <td>Mumbai</td>
                <td>232431</td>
                <td>Raju Kumar</td>
                <td>Tetser</td>
              </tr>
              <tr>
                <td>ABC</td>
                <td>Mumbai</td>
                <td>232431</td>
                <td>Raju Kumar</td>
                <td>Tetser</td>
              </tr>
              <tr>
                <td>ABC</td>
                <td>Mumbai</td>
                <td>232431</td>
                <td>Raju Kumar</td>
                <td>Tetser</td>
              </tr>
            </tbody>
          </table>
  </div>
</div>